# Code owners are automatically requested for review on pull requests.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Every file in the repository is owned by @labue20
* @labue20
